.carousel{
  text-align: center;
  padding: 2%;
}

.carousel-style {
  height: 100%;
}
  
.carousel.slide img {
  width: auto;
  height: 90vh;
}
  
.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
}